input { 
size:14px;
height: 40px;
}
button{
    background: #1089f1;
    size:14px;
    height: 50px;
    color:#fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    line-height: inherit;
    outline: inherit;
    padding: 15px;
    margin: 10px;
}